
// Import Variables
@import './variables';

// Import UIKit
@import '../../../node_modules/uikit/src/scss/uikit-theme';

body { background: #000; }

.uk-alert.uk-alert-secondary {
  background-color: lighten($global-secondary-background, 15%);
  color: $text-on-secondary-color;
}

.uk-text-secondary {
  color: $global-secondary-background;
}

.uk-button.uk-button-secondary {
  color: $text-on-secondary-color;
}

a, .uk-button {
  font-weight: 500;
}

.uk-button {
  text-transform: none;
}

.expand-height {
  min-height: 100%;
}

.uk-pointer {
  cursor: pointer;
}

.uk-min-height {
  min-height: 100%;
}