
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Roboto');

// Custom UIKit Variables
$global-primary-background: #f89c2f;
$global-emphasis-color: #f89c2f;
$global-secondary-background: #000000;
$global-font-family: 'Zilla Slab', serif;

// Import UIKit Variables
@import '../../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../../node_modules/uikit/src/scss/mixins-theme.scss';

// Any custom mixins?

// Any Additional Variables
$text-on-secondary-color: #fff;
$text-on-primary-color: #fff;
$nav-font-family: 'Roboto', sans-serif;